# Ignorar la carpeta ClaseAPI/ completamente
ClaseAPI/target/
ClaseAPI/.settings/

# Ignorar configuraciones de IDE como IntelliJ y Visual Studio Code
ClaseAPI/.idea/
ClaseAPI/.vscode/

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de compilación
ClaseAPI/*.jar
ClaseAPI/*.war
ClaseAPI/*.ear

# Ignorar archivos de configuraciones de Eclipse
ClaseAPI/.project
ClaseAPI/.classpath
ClaseAPI/.settings/
