# Ignorar la carpeta target 
target/

# Ignorar configuraciones de IDEs como IntelliJ y Visual Studio Code
.idea/
.vscode/

# Ignorar archivos temporales de Eclipse
.project
.classpath
.settings/

# Ignorar archivos temporales generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos temporales de editores de texto
*.swp
*.bak
*.tmp
*.log

# Ignorar archivos y directorios generados por el sistema de construcción
*.jar
*.war
*.ear
